<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

</head>

<body>
  <template id="level-builder-admin-template">
    <ul class='saved-levels'>
      <li>One</li>
      <li>Two</li>
    </div>
    <action-bar></action-bar>
  </template>
  <template id="action-bar-template">
    <div>
      <div>
        <button class="upload">Upload</button>
        <button class="create-new">Create New</button>
      </div>
      <div class="edit-level-info"></div>
    </div>
  </template>
  <div id="game-board"></div>
</body>

</html>