<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

</head>

<body>
  <template id="level-builder-template">
    <style>
      svg {
        flex-basis: 85%;
        border: 1px solid black;
      }
      .controls {
        padding: 0 10px;
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
      }
      ul {
        margin-bottom: auto;
      }
      .size {
        display: flex;
        flex-direction: column;
      }
      .active {
        border: 2px solid lightseagreen;
        flex-basis: 50px;
      }
    </style>
    <div style='display: flex;'>
      <svg height="100%" viewBox='0 0 100 50'></svg>
      <div class='controls'>
        <h2>Select Tool</h2>
        <ul>
          <li>thing one</li>
          <li>thing two</li>
          <li>thing three</li>
        </ul>
        <div class="size">
          <label for='show-grid-lines'>
            <input id='show-grid-lines' type='checkbox' checked='' />
            Show Grid Lines
          </label>
          <label for='grid-width'>
            Width: <input id='grid-width' type='number' value='100'/>
          </label>
          <label for='grid-height'>
            Height: <input id='grid-height' type='number' value='50'/>
          </label>
        </div>
        <div class="active"></div>
      </div>
    </div>
  </template>
  <template id="level-builder-admin-template">
    <ul class='saved-levels'>
      <li>One</li>
      <li>Two</li>
    </div>
    <action-bar></action-bar>
  </template>
  <template id="action-bar-template">
    <div>
      <div>
        <button class="upload">Upload</button>
        <button class="create-new">Create New</button>
      </div>
      <div class="edit-level-info"></div>
    </div>
  </template>
  <div id="game-board"></div>
</body>

</html>