.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    font-family: ARCADECLASSIC;
    font-size: 30px;
    background-color: #f4f4f4;
    margin: 20px auto;
    padding: 20px;
    width: 70%;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px, 20px, 0 rgba(0,0,0,0.17);
}
.modal-content.fail {
    border: 15px solid #ad0e0e;
}
.modal-content.success {
    border: 15px solid #008000;
}
.modal-template {
    overflow: auto;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
